* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    list-style: none;
    letter-spacing: 0.25rem;
    color: #eb634e;
    font-weight: 700;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #eb634e;
    font-size: 35px;
    letter-spacing: 0.25rem;
    display: inline-block;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #eb634e;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.navContainer {
    display: flex;
    width: 100%;
    height: fit-content;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /*FIX DIS SHET*/
}

.navContainer h1 {
    font-size: 15px;
    letter-spacing: 0.1rem;
}

.navlistContainer li {
    display: inline;
    margin-left: 2rem;
    color: #eb634e;
}

.navlistContainer li:hover {
    transition: ease-in-out 0.5s;
    color: #952615;
}

/*All hamburger menu below*/
.hamburgerMenu {
    margin-top: 0.25rem;
    height: fit-content;
    margin-right: 2rem;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    display: inline;
    right: 0;
    transition: all 0.5s ease-in-out;
}

.hamburgerLine {
    background-color: #eb634e;
}

#one.hamburgerLine {
    width: 45px;
    height: 0.25rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;
}

#two.hamburgerLine {
    width: 45px;
    height: 0.25rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;
}

#three.hamburgerLine {
    width: 45px;
    height: 0.25rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}

.hamburgerMenu:hover #one.hamburgerLine,
.hamburgerMenu:hover #two.hamburgerLine,
.hamburgerMenu:hover #three.hamburgerLine {
    background-color: #eb634e;
    transition: all 0.25s ease-in-out;
}

.hamburgerMenu.on #one.hamburgerLine {
    background-color: white;
    transform: rotate(45deg) translate(10px, 10px);
    transition: all 0.5s ease-in-out;
}

.hamburgerMenu.on #two.hamburgerLine {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.hamburgerMenu.on #three.hamburgerLine {
    background-color: white;
    transform: rotate(-45deg) translate(6px, -8px);
    transition: all 0.5s ease-in-out;
}

.overlay {
    opacity: 0;
    width: 0%;
    display: table-column;
}

.hamburgerMenu.on .overlay {
    background-color: #eb634e;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: show;
    transition: opacity 0.35s, visibility 0.35s, width 0.35s;
    overflow: hidden;
    z-index: -1;
}


nav ul {
    top: 0%;
    position: relative;
    opacity: 0;
}

.hamburgerMenu.on nav ul {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 0.35s, visibility 0.35s, width 0.35s;
}

nav li {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-align: right;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

nav a {
    color: white;
    z-index: 2;
}

nav a:hover {
    color: #952615;
    transition: 0.25s ease-in-out;
}

nav a:focus {
    outline: none;
    color: #45f4ef;
    transition: 0.25s ease-in-out;
}

/*end hamburger menu */


/*
.logoContainer {
    background-image: url(./images/mlogo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    height: 10vh;
}
*/

.patternContainer {
    width: 100%;
    height: 100vh;
    background-image: url(./images/pebble.svg), url(./images/squiggle.svg),
        url(./images/darkerpink.svg);
    background-repeat: no-repeat;
    background-size: 8rem, 35rem, 20rem;
    background-attachment: fixed;
    background-position: left -1rem top 3rem, right -27rem top -10rem,
        left -4rem bottom -7rem;
    position: fixed;
    z-index: -3;
}

.contentContainer {
    position: absolute;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* old styling for images .tileContainer {
    height: 300px;
    background-color: rgb(106, 106, 149);
    margin-bottom: 5rem;
    margin: 2rem;
    align-items: center;
    border-radius: 2rem;
    justify-content: space-between;
    text-align: center;
}
*/

.projectCard {
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 3px 11px -3px rgba(0, 0, 0, 0.75);
    margin-bottom: 2rem;
}

.projectCard:hover {
    opacity: .5;
    transition: 0.2s;
}

.imageCrop {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.imageCrop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.imageHover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    transition: .2s ease;
    background-color: red;
    border-radius: 1rem;
    z-index: 1;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}*/


.projectDetails {
    font-size: .75rem;
    padding: 1rem;
}

/*About page below*/
.aboutContent {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.aboutImageCrop {
    display: flex;
    width: 100%;
    height: 22rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    overflow: hidden;
    justify-content: center;
}

.aboutImageCrop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.aboutBio p {
    display: flex;
    width: 15rem;
    margin-top: 2rem;
    font-size: 14px;
}

/*end about page*/

/*footer below*/
.footContainer {
    display: flex;
    width: 100%;
    height: fit-content;

}

.footIcons {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    margin: 2rem;
    margin-bottom: 4rem;
}

/*Testing Footer*/
footer {
    width: 100%;
    padding: 1rem;
    background-color: red;
}

/*end footer*/

/*Media Queries*/
/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
    .contentContainer {
        flex-direction: row;
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .patternContainer {
        background-position: left 4rem top 2rem, right -4rem top -7rem,
            left -4rem bottom -7rem;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* For TV Screens & Projectors */
@media (min-width: 2000px) {}