* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    list-style: none;
    letter-spacing: 0.25rem;
    color: #eb634e;
    font-weight: 700;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #eb634e;
    font-size: 35px;
    letter-spacing: 0.25rem;
    display: inline-block;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #eb634e;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

/*centering love*/

.navContainer {
    display: flex;
    width: 100%;
    height: fit-content;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.navContainer h1 {
    font-size: 15px;
    letter-spacing: 0.1rem;
    transition: transform 2s ease-in;
}

.navlistContainer li {
    display: inline;
    margin-left: 2rem;
    color: #eb634e;
}

.navlistContainer li:hover {
    transition: ease-in-out 0.5s;
    color: #952615;
}

/*All hamburger menu below*/
.hamburgerMenu {
    margin-top: 0.25rem;
    height: fit-content;
    margin-right: 2rem;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    display: inline;
    right: 0;
    transition: all 0.5s ease-in-out;
}

.hamburgerLine {
    background-color: #eb634e;
}

#one.hamburgerLine {
    width: 45px;
    height: 0.25rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;
}

#two.hamburgerLine {
    width: 45px;
    height: 0.25rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;
}

#three.hamburgerLine {
    width: 45px;
    height: 0.25rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}

.hamburgerMenu:hover #one.hamburgerLine,
.hamburgerMenu:hover #two.hamburgerLine,
.hamburgerMenu:hover #three.hamburgerLine {
    background-color: #eb634e;
    transition: all 0.25s ease-in-out;
}

.hamburgerMenu.on #one.hamburgerLine {
    background-color: white;
    transform: rotate(45deg) translate(10px, 10px);
    transition: all 0.5s ease-in-out;
}

.hamburgerMenu.on #two.hamburgerLine {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.hamburgerMenu.on #three.hamburgerLine {
    background-color: white;
    transform: rotate(-45deg) translate(6px, -8px);
    transition: all 0.5s ease-in-out;
}

.overlay {
    opacity: 0;
    width: 0%;
    display: table-column;
}

.hamburgerMenu.on .overlay {
    background-color: #eb634e;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: show;
    transition: opacity 0.35s, visibility 0.35s, width 0.35s;
    overflow: hidden;
    z-index: -1;
}


nav ul {
    top: 0%;
    position: relative;
    opacity: 0;
}

.hamburgerMenu.on nav ul {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 0.35s, visibility 0.35s, width 0.35s;
}

nav li {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-align: right;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

nav a {
    color: white;
    z-index: 2;
}

nav a:hover {
    color: #952615;
    transition: 0.25s ease-in-out;
}

nav a:focus {
    outline: none;
    color: #45f4ef;
    transition: 0.25s ease-in-out;
}

.patternContainer {
    width: 100%;
    height: 100vh;
    background-image: url(./images/pebble.svg), url(./images/squiggle.svg),
        url(./images/darkerpink.svg);
    background-repeat: no-repeat;
    background-size: 8rem, 35rem, 20rem;
    background-attachment: fixed;
    background-position: left -1rem top 3rem, right -27rem top -10rem,
        left -4rem bottom -7rem;
    position: fixed;
    z-index: -3;
}

.contentContainer {
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.projectCard {
    width: 262px;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 3px 11px -3px rgba(0, 0, 0, 0.75);
    margin-bottom: 2rem;
}

.projectCard:hover {
    opacity: .5;
    transition: 0.2s;
}

.imageCrop {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.imageCrop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.imageHover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    transition: .2s ease;
    background-color: red;
    border-radius: 1rem;
    z-index: 1;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}*/


.projectDetails {
    font-size: .75rem;
    padding: 1rem;
}

/*About page below*/
.aboutContent {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.aboutImage {
    width: 250px;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.aboutBio p {
    display: flex;
    width: 15rem;
    margin-top: 2rem;
    font-size: 14px;
}

.speechContainer {
    display: none;
    width: 100px;
}

.footIcons p {
    visibility: hidden;
}

/*end about page*/

/*footer below*/
.footContainer {
    display: flex;
    width: 100%;
    height: fit-content;
}

.footIcons {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    padding: 2rem;
}

.footIcons a {
    cursor: pointer;
}

/*Testing Footer*/
footer {
    width: 100%;
    padding: 0.5rem;
}

/*Project page styling*/
.projectContent {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: column;
}

.projectBio p {
    display: flex;
    width: 15rem;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 1rem;
    align-items: center;
}

.projectImage {
    width: 250px;
    height: 250px;
    border-radius: 0.5rem;
    object-fit: cover;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

h3 {
    text-align: center;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #eb634e;
    width: 100%;
}

.projectTitle {
    margin: 0 auto;
}



/*Media Queries*/
/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {

    .navContainer h1 {
        transform: translateX(8rem) translateY(.6rem) scale(2);
    }

    .contentContainer {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
        height: 60vh;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .patternContainer {
        background-position: left 4rem top 2rem, right -4rem top -7rem, left -4rem bottom -7rem;
    }

    .footContainer {
        margin-left: auto;
        width: 30vw;
    }

    .hamburgerMenu.on .overlay {
        width: 30%;
    }

    .aboutImage {
        width: 250px;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
    }

    /*About*/
    .aboutContent {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .aboutBio {
        margin-left: 4rem;
    }

    .speechContainer {
        display: flex;
        width: 200px;
    }


    .mainContainer {
        width: 100%;
        height: 65vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .helloContainer {
        visibility: hidden;
    }

    .footIcons p {
        visibility: visible;
    }

    /*Project Pages*/
    .projectContent {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        height: 60vh;
        padding-left: 2rem;
        padding-right: 5rem;
        border-radius: 0.5rem;
    }

    .projectImage {
        width: 20vw;
        height: 438px;
        flex: 20%;
        margin: 1rem;
        border-radius: 0.5rem;
    }

    .projectCopy {
        flex-direction: column;
        margin: 4rem;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

    .projectCard {
        width: 320px;
    }

    .imageCrop {
        height: 320px;
    }

    .projectImage {
        width: 20vw;
        height: 438px;
    }

    /* For TV Screens & Projectors */
    @media (min-width: 2000px) {}

}